.item5 {
  background-color: #232f3e;
  color: white;
  flex-direction: row;
  display: flex;
  height: 50px;
  align-items: center;
}
li {
  list-style: none;
  padding: 7px;
  margin: 5px;
  border: 2px solid transparent;
}
a {
  color: white;
  text-decoration: none;
}
li:hover {
  border: 2px solid white;
}
