* {
  box-sizing: border-box;
}

#input12 {
  font-size: 17px;
  font-family: sans-serif;
  border: 1px solid grey;
  width: 624.5px;
  height: 40px;
  background-color: white;
  color: black;
  margin-left: 0px;
  outline-color: aqua;
  padding-left: 53px;
}
#a1 {
  width: 45px;
  height: 40px;
  margin: 0px 0px 0px 0px;
  border-right: none;
  background-color: lightgrey;

  position: relative;
  left: 47px;
  top: 0px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
  outline-color: aqua;
}
#a12 {
  width: 50px;
  height: 40px;
  margin-left: -52px;
  background-color: orange;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  outline-color: aqua;
}
.p1 {
  display: flex;
  flex-direction: row;
}
